@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --off-white: #f0f0f0;
    --off-white-transp: rgba(240, 240, 240, 0.5);
    --grey: #E6E6E6;
    --grey-transp: rgba(230, 230, 230, 0.6);
    --blue: #022878;
    --blue-transp: rgba(50, 203, 255, 0.5);
    --white: #ffffff;
    --black: #000000;
    --black-transp: rgba(0, 0, 0, 0.8);
    --black-light: #1e2021;
    --frosted-glass: rgba(255, 255, 255, 0.3);
    --font-main: 'Ubuntu', sans-serif;
    --transition: all 0.5s ease;
    --shadow-light: var(--shadow-light);
    --shadow-strong: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    margin: 0px auto;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: var(--font-main);
    background-image: url("./assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

#title {
    margin-top: 160px;
    line-height: 3.7em;
    transition: var(--transition);
}

#title h1 {
    font-size: 5.5em;
    color: var(--white);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.1));
}

#title p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    color: var(--white);
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1));
}

.hidden {
    opacity: 0;
    transition: 0.5s;
    transition: var(--transition);

}

.content {
    padding: 2% 0;
    width: 40%;
    min-width: 350px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    box-shadow: var(--shadow-light);
    margin-top: 50px;
    transition: var(--transition);
}

.move_up {
    margin-top: -50px;
    padding-top: 0px;
    transition: var(--transition);
    
}

.font_0em {
    transition: ease-in;
    font-size: 0em;
    transition: 1s;
}

.alert_validation {
    color: var(--blue);
    font-size: 1.2em;
    transition: var(--transition);
    opacity: 0;
    padding: 0px 13px;
}

#search_area {
    width: 90%;
    border-radius: 12px;
    background-color: var(--frosted-glass);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 25px;
    box-shadow: var(--shadow-strong);
    transition: var(--transition);
}

input[type=search], .button_search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

input[type=search] {
    font-size: 1.8rem;
    width: 94%;
    font-family: var(--font-main);
    background-color: rgba(0, 0, 0, 0);
    caret-color: var(--off-white);
    color: var(--white);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50em;
    background: url(./assets/clear-search-icon.png) no-repeat 40% 40%;
    background-size: contain;
    pointer-events: none;
    cursor: pointer;
    transition: var(--transition);
}
  
input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .8;
    pointer-events: all;
    transition: var(--transition);
}

input[type="search"]::-webkit-search-cancel-button:hover {
    opacity: 1;
    transition: var(--transition);
}

input[type="search"]::placeholder {
    color: var(--white);
    transition: var(--transition);
}

.button_search {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0);
}

.button_search:hover .search_icon{
    transition: var(--transition);
    filter: drop-shadow(0.35rem 0.35rem 3px rgba(0, 0, 0, 0.7));
}

.search_icon {
    width: 100%;
    filter: drop-shadow(0.35rem 0.35rem 3px rgba(0, 0, 0, 0.3));
    transition: var(--transition);
    
}

#weather_infos {
    margin-top: 60px;
    height: 340px;
    width: 95%;
    perspective: 3000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    transition: 1s;   
}

.flip_transition {
    transform: rotateY(180deg);
}

.infos_inner {
	position: relative;
	height: 100%;
    margin: 0 auto;
    width: 338px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-all 0.5s ease;
    -moz-transition: -moz-all 0.5s ease;
    -o-transition: -o-all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0);
}

.infos_wrapper {
    width: 340px;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0);
}

.active {
    transition: 1s;
    opacity: 1;
    transition: var(--transition);
}

.active_iwrapper {
    transition: 1s;
    opacity: 1;
    transition: var(--transition);
}

.infos {
    position: absolute;
	inset: 0;
	display: grid;
    gap: 5%;
    padding: 32px;
    color: var(--off-white);
    text-align: left;
    border-radius: 38px;
    line-height: 1.6em;
    font-size: 1.1em;
    filter: drop-shadow(0.6rem 0.6rem 0.65rem rgba(0, 0, 0, 0.3));
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
}

.infos_front {
    background-color: var(--frosted-glass);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--off-white);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
}

#infos_front_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#infos_front_header img, #infos_back_header img {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
    filter: drop-shadow(0.1rem 0.1rem 2px rgba(0, 0, 0, 0.1));
}

.infos_front h2 {
    font-size: 2.5em;
    font-weight: 400;
}

#temperatura {
    font-weight: 600;
    font-size: 2.7em;
    margin-bottom: 15px;
}

#decricao_container {
    display: flex;
    align-items: center;
    justify-content: start;
}

#descricao {
    margin-right: 8px;
}

.infos_back {
    background-color: var(--frosted-glass);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--off-white);
    line-height: 2em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -ms-transform: rotateY(180deg) translateZ(1px);
}

#infos_back_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos_back h2{
    font-size: 2.5em;
    font-weight: 400;
}

#temp_min, #temp_max {
    font-weight: 500;
    font-size: 2.1em;
    margin-top: 10px;
}

.detalhes_back_1, .detalhes_back_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes_back_1 {
    margin: 15px 0px;
}

.detalhes_back_2 {
    padding: 10px 20px 0px 20px;
}

.detalhes_back_inner_1, .detalhes_back_inner_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detalhes_back_1 {
    line-height: 2.1em;
    gap: 10px;
}

#footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer_links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 0.85em;
}

#footer_links a {
    font-size: 1.1em;
    font-weight: 400;
    transition: var(--transition);
    
}

.footer_link {
    -webkit-transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    color: var(--off-white);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.1));
}

.footer_link:hover {
    color: var(--white);
}

.footer_link:hover {
    fill: var(--white);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
}

@media only screen and (max-width: 1200px) {

#title {
    margin-top: 160px;
    line-height: 2.2em;
}

#title h1 {
    font-size: 3.1em;
    color: var(--white);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}
    
#title p {
    font-size: 1.1em;
    text-align: center;
    font-weight: 500;
    color: var(--off-white);
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2));
}

.alert_validation {
    font-size: 1em;
}

input[type=search] {
    font-size: 1.5rem;
}

#weather_infos {
    font-size: 1em;
}

#footer_links {
    font-size: 0.7em;
}

}